[submodule "bundle/MatchTagAlways"]
	path = bundle/MatchTagAlways
	url = http://github.com/Valloric/MatchTagAlways.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = http://github.com/davidhalter/jedi-vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-taskwarrior"]
	path = bundle/vim-taskwarrior
	url = https://github.com/farseer90718/vim-taskwarrior.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-mustang"]
	path = bundle/vim-mustang
	url = https://github.com/croaker/mustang-vim.git
[submodule "bundle/vim-yankstack"]
	path = bundle/vim-yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-wildfire"]
	path = bundle/vim-wildfire
	url = https://github.com/gcmt/wildfire.vim.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
